// Styling for Home/Landing Page

.home {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/homeBgForNow.gif);
    background-position: center;
    background-size: cover;
    .title {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: min-content;
        @include position(relative, -50px, 0)
    }
    .subtitle {
        font-size: 2.2rem;
        font-weight: 600;
        color: $white;
    }
}