// Colors
$green: #9ae109;
$pink: #f36794;
$white: #ffffff;
$grey: #f3f3f3;
$midgrey: #8a8a8a;
$darkgrey: #5c5c5c;
$black: #3f3f3f;

// Fonts
$fontStrong: 'Staatliches';
$fontFancySerif: 'Fell French Canon SC';
$fontFunSerif: 'Jomolhari';
$fontModern: 'Source Sans Pro';
$fontGoofy: 'Permanent Marker';
$fontCasual: 'Poppins', sans-serif;

// Font-Sizing
