html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
  line-height: 1.15;
}

h1 {
  font-family: "Staatliches", sans-serif;
  font-size: 7rem;
  font-weight: 400;
  color: #ffffff;
  margin: 0;
}

h2,
h3,
h4,
h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  color: #5c5c5c;
  letter-spacing: 1px;
  margin: 0;
}

p,
a,
i,
ul,
li {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: #5c5c5c;
  letter-spacing: 1px;
  line-height: 1.5;
  margin: 0;
}

ul,
li,
a {
  list-style-type: none;
  color: inherit;
  text-decoration: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 175px;
  padding: 30px 5px 0;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 99;
  background-color: #ffffff;
  border-right: #f3f3f3 15px solid;
}

.header .titularHero {
  text-align: center;
  margin: 30px 0;
}

.header .titularHero a {
  font-family: "Staatliches";
  font-size: 3rem;
  font-weight: 500;
}

.selfImgCont {
  width: 80px;
  height: 80px;
}

.selfImgCont img {
  width: 100%;
}

nav ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 160px;
  text-align: center;
  background-color: #9ae109;
  margin-bottom: 60px;
}

li {
  height: 50px;
  text-transform: capitalize;
  background-color: #ffffff;
  border-bottom: 1px solid #ffffff;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

li:hover, li:focus {
  background-color: #f3f3f3;
}

li a {
  display: block;
  font-size: 1.5rem;
  font-weight: 500;
  height: 50px;
  padding: 15px 40px;
  color: #5c5c5c;
  border-right: 2px solid #ffffff;
  border-bottom: 1px solid #f3f3f3;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

li a:hover, li a:focus, li a.clicked {
  border-right: 2px solid #9ae109;
  color: #3f3f3f;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  padding: 5px;
}

.socialIcon {
  display: block;
}

.socialIcon i {
  font-size: 2rem;
  color: #f36794;
}

.mainPage {
  position: absolute;
  top: 0;
  left: 175px;
}

.mainPage section {
  padding-top: 80px;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.pageTitle {
  width: 100%;
}

.pageTitle h2 {
  font-size: 3rem;
  font-weight: 600;
  border-bottom: 2px solid #f36794;
  padding: 10px 0px;
  text-transform: capitalize;
}

.pageTitle p {
  color: #b3b3b3;
  font-weight: 400;
  font-size: 1.5rem;
  font-style: italic;
  text-align: right;
  padding: 10px 0;
}

.home {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../assets/homeBgForNow.gif);
  background-position: center;
  background-size: cover;
}

.home .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  position: relative;
  top: -50px;
  left: 0;
}

.home .subtitle {
  font-size: 2.2rem;
  font-weight: 600;
  color: #ffffff;
}

.aboutContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 40px 0;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.intro .aboutIntro {
  width: calc(100% / 2 - 30px);
  margin-right: 30px;
}

.intro .aboutPicture {
  width: calc(100% / 2 - 30px);
  margin-left: 30px;
}

.intro .aboutPicture img {
  width: 100%;
  height: 75%;
}

.intro .hello {
  font-weight: 600;
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #5c5c5c;
}

.intro p {
  color: #8a8a8a;
  font-weight: 500;
}

.funFacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.fact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  margin: 20px;
  width: calc(100% / 4 - 40px);
}

.fact .factImg {
  width: 80%;
  margin: 30px 0;
}

.fact .factImg img {
  width: 100%;
}

.fact h5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 3px solid #f36794;
  width: 80%;
  height: 80px;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 10px;
  opacity: .7;
}

.fact .factText {
  background-color: transparent;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 8px double #9ae109;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: .7;
  z-index: 10;
}

.fact .factText p {
  text-align: center;
  padding: 10px;
  font-size: 2rem;
  font-weight: 600;
  color: #000;
  z-index: 99;
  opacity: 1;
}

.small {
  font-size: 1rem;
  font-style: italic;
}

.skillsContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  padding-top: 40px;
  margin: 0 auto;
}

.skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(100% / 5 - 60px);
  margin: 30px 30px;
  padding: 10px;
}

.skill img {
  width: 100%;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
}

.skill img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.skill p {
  text-align: center;
  font-weight: 400;
  font-size: 1.5rem;
  letter-spacing: 1px;
  margin-top: 5px;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

.projectCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.project,
.projectRev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.project h3,
.projectRev h3 {
  margin: 10px;
  font-family: "Staatliches";
  font-size: 4rem;
}

.project p,
.projectRev p {
  margin: 10px;
}

.project {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.project .projectImg {
  width: calc(100% / 2 - 40px);
  margin-right: 40px;
}

.project .projectImg img {
  width: 100%;
}

.project .projectText {
  width: calc(100% / 2 - 40px);
  margin-left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projectRev {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.projectRev .projectImg {
  width: calc(100% / 2 - 40px);
  margin-left: 40px;
}

.projectRev .projectImg img {
  width: 100%;
}

.projectRev .projectText {
  width: calc(100% / 2 - 40px);
  margin-right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.used {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.used img {
  width: 40px;
  height: 40px;
  margin: 10px;
}

.viewProj {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.viewProj a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1rem;
  text-align: center;
  letter-spacing: 0px;
  font-weight: 600;
  color: #5c5c5c;
}

.viewProj i {
  color: #5c5c5c;
  font-size: 4rem;
  padding: 10px;
  margin: 0px 20px;
}

.contact {
  padding-bottom: 80px;
}

.bannerBoy {
  width: 100%;
  margin-top: 60px;
  border-radius: 10px;
  overflow: hidden;
}

.bannerBoy img {
  width: 100%;
}

.contactBoxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contactBoxes .conBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px;
  height: 150px;
  width: calc(100% / 4 - 40px);
  border: 2px solid #f3f3f3;
  border-radius: 3px;
}

.contactBoxes .conBox i {
  color: #9ae109;
  font-size: 5.5rem;
  margin-bottom: 15px;
}

.contactBoxes .conBox p {
  font-weight: 600;
  font-size: 1.8rem;
  letter-spacing: 0px;
}

.contactForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

form .bigInfoBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 70%;
  margin: 40px;
}

form .bigInfoBox .commentBox {
  border: 2px solid #f3f3f3;
  border-radius: 3px;
  padding: 5px;
  font-size: 2rem;
  color: #5c5c5c;
  width: 55%;
}

.infoOne {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px;
  width: 40%;
}

.infoOne input {
  width: 100%;
  height: 40px;
  font-size: 2rem;
  color: #5c5c5c;
  border: 2px solid #f3f3f3;
  border-radius: 3px;
}

.infoOne input:nth-of-type(2) {
  margin: 30px 0;
}

label {
  font-size: 0;
  width: 1px;
  height: 1px;
  display: inline-block;
  overflow: hidden;
  position: absolute;
  border: 0;
  padding: 0;
  margin: 0;
  clip: rect(1px, 1px, 1px, 1px);
}

button {
  width: 40%;
  height: 100px;
  padding-bottom: 20px;
  font-size: 2.5rem;
  font-family: "Staatliches";
  font-style: italic;
  color: #ffffff;
  border: none;
  background-color: transparent;
  background-image: url(../assets/brushStrokeFooter.png);
  background-size: cover;
  overflow: visible;
}
